@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", serif;
}

.titre{
    align-items: center;
    justify-content:center;
    text-align: center;
}

.titre h1{
    color: white;
}