.fonctionImage{
    position: relative;
    width: 50%; 
    top: 50%;
    left: 20%;
    text-align: center;
}

.certif_ANSII {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.millieu {
    transition: .5s ease;
    opacity: 0;
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fonctionImage:hover .certif_ansii {
    opacity: 0.3;
}

.fonctionImage:hover .millieu {
    opacity: 1;
}

.text a:hover{
    background-color: black;
    color: white;
}

.text a{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 12px;
}

.Description{
    text-align: center;
}

.Certifs_CNIL {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.responsive {
    width: calc(50% - 20px);
    display: flex;
    justify-content: center;
}

.gallery {
    text-align: center;
}

.gallery img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
}

@media screen and (min-width: 601px) {
    .responsive:nth-child(odd):last-child {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .responsive {
        width: 100%;
    }
}