.containerIMG{
    display: flex;
    padding: 10px;
    margin: 40px;
    padding-top: 20px;
}

.gallerieDisplay {
    width: auto;
    padding: 20px;
}

.gallerieDisplay:hover.gallerieDisplay img{
    transform: scale(1.1);
    transition: 0.25s ease;
}

.gallerieDisplay:hover .desc{
    opacity: 1;
    transform: translateY(-100%);
    transition: 0.25s ease;
}

.gallerieDisplay img {
    width: 450px;
    height: auto;
}

.desc {
    text-align: center;
    opacity: 0;
    color: black;
    font-weight: 900;
    font-size: 20px;
    background-color: gray;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px
}

.desc .voirCertifs{
    border-radius: 12px;
}

.desc .voirCertifs:hover{
    background-color: white;
    color: grey;
    transition: 0.25s ease;
}