.Certifs_CNIL {
    position: static;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.Certifs_CNIL, .dernierModule{
    flex-grow: 1;
}

.responsive {
    width: calc(50% - 20px);
    display: flex;
}

.gallery {
    text-align: center;
}

.gallery img {
    width: 600px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
}

@media screen and (min-width: 601px) {
    .responsive:nth-child(odd):last-child {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .responsive {
        width: 100%;
    }
}

.certif_cnil {
    align-items: center;
    text-align: center;
    opacity: 1;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.millieu_cnil {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.5s ease;
    opacity: 0;
}

.fonctionImage:hover .certif_cnil {
    opacity: 0.3;
}

.fonctionImage:hover .millieu_cnil {
    opacity: 1;
}

.fonctionImage:hover .millieu_cnil .text_cnil a{
    top: 50%;
    left: 50%;
}

.text_cnil{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.text_cnil a {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.text_cnil a:hover {
    background-color: black;
    color: white;
}

.Description {
    text-align: center;
}

.dernierModule {
    float: left;
    padding-left: 25%;
}