body {
    width: 100%;
    min-height: 100vh;
}

/*Partie de la section Web*/
.sectionWeb{
    background-color: #2c2c2c;
}

.sectionWeb h1, h3{
    color: white;
}

.sectionWeb .sectionWebContent p{
    color: white;
    margin: 10px;
}

.voirProjets {
    border: 1px solid #2c2c2c;
    padding: 10px 35px;
    border-radius: 20px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 22px;
    text-transform: uppercase;
}

.voirProjets:hover{
    background: gray;
    color: white;
    transition: 0.25s ease;
}

/*Partie de la section javascript*/
.sectionJS {
    background-color: #2c2c2c;
}

.sectionJS h1,
h3 {
    color: white;
}

.sectionJS .sectionJSContent p {
    color: white;
    margin: 10px;
}

/*Partie de la section divers*/
.sectionDivers {
    background-color: #2c2c2c;
}

.sectionDivers h1,
h3 {
    color: white;
}

.sectionDivers .sectionDiversContent p {
    color: white;
    margin: 10px;
}