.document {
    transition: 0.5s ease;
    color: black;
    background-color: white;
    border-radius: 12px;
    width: auto;
    padding: 10px;
    margin: 10px;    
    text-align: center;
}

.document:hover{
    background-color: black;
    color: white;
    transition: 0.25s ease;
}