@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
}

.perspective {
    perspective: 800px;
}

.carte {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: 400px;
    justify-items: center;
    background-color: #2c2c2c;
    transform-style: preserve-3d;
    transition: transform 0.25s;
}

.carte.rotate-left {
    transform: rotateY(-15deg);
}

.carte.rotate-right {
    transform: rotateY(15deg);
}

.carte.rotate-top {
    transform: rotateX(15deg);
}

.carte.rotate-bottom {
    transform: rotateX(-15deg);
}

.carte .carte-image {
    max-width: 40%;
    max-height: 40%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.carte .carte-titre {
    margin: 0;
    color: hsl(0, 18%, 90%);
}

.carte .carte-texte {
    color: hsl(0, 18%, 100%);
}

.btn {
    width: 100px;
    height: 50px;
    font-size: 14px;
    background-color: rgb(76, 76, 77);
    border-radius: 20px;
}

.btn:hover {
    background-color: #2c2c2c;
    cursor: pointer;
    transition: 0.25s;
}