.presentationDeveloppement{
    margin: 20px;
    color: white;
}

article{
    width: 600px;
    height: auto;
}

.projects__card{
    background-color: rgb(59, 59, 59);
    padding: 1.5rem;
    border-radius: 2rem;   
}

.projects__image{
    display: block;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
}

.projects__img{
    transition: transform 0.4s;
}

.projects__name{
    color: wwhite;
    font-size: 30px;
    display: flex;
    margin-bottom: 0.5rem;
}

.projects__name{
    margin-top: 20px;
}

.projects__name img{
    width: 80px;
    height: auto;
}

.projects__description{
    color: white;
    margin-bottom: 1.5rem ;
}

.projects__skill{
    width: 2rem;
    transition: transform 0.4s;
}

.projects__skill:hover{
    transform: translateY(-0.25rem);
    cursor: pointer;
    transform: scale(1.25);
}

.projects__skills{
    width: max-content;
    height: 34px;
    background-color: rgb(59, 59, 59);
    padding-inline: 0.75rem;
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    border-radius: 4rem;
    margin-bottom: 1.5rem;
}

.projects__button{
    color: white;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: color  0.4s;
    padding: 10px;
}

.projects__button .i{
    font-size: 1.25rem;
    color: white;
}

.projects__button span{
    font-weight: 600;
    color: white;
}

.projects__button:hover  {
    border-radius: 4rem;
    transition: 0.4s;
    background-color: rgb(100,100,100);
}

.projects__img:hover{
    transform: scale(1.2);
}

.section__title{
    margin: 20px;
}