#jeu{
    font-size: 40px;
    color: white;
}

button.bouton_lettre{
    font-weight: 400;
    font-size: 40px;
    margin: 1px;
    padding: 0 10px;
    border-radius: 10px;
    color: white;
}

button.bouton_lettre:hover{
    cursor: pointer;
    background-color: black;
    color: grey;
}