.titre-page{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: white;
    background-color: #31363f;
    border-radius: 10px;
    width: 800px;
}

.container-experiences{
    padding: 1rem;
    cursor: pointer;
    background-color: #31363f;
    border-radius: 10px;
    margin-bottom: 3rem;
    max-width: 800px;
    color: white;
}

.titre-experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 20px;
    font-weight: 600;
}

.titre-experience::after{
    content: '';
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: white;
    transition: 0.25s;
}

.titre-experience::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: white;
    transition: 0.25s;
}

.date-experience{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.description-experience{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.avertissement{
    color: red;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;   
}

.titre-image-technologie{
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

.images-experience {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.image-technologie p.titre-technologie{
    opacity: 0;
}

.image-technologie{
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

.image-technologie img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-technologie:hover{
    transform: scale(1.1) translateY(-10px);
    transition: 0.3s;
}

.image-technologie:hover p.titre-technologie{
    opacity: 1;
    transition: 0.3s;
}

.figure-experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    padding: 10px;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

figcaption {
  font: italic;
  padding: 3px;
  text-align: center;
}

.travaux-experience{
    padding-top: 20px;
}